######################
### DOCKER COMPOSE ###
######################

# Important to namespace volumes, networks & containers (default to directory name)
# COMPOSE_PROJECT_NAME=
COMPOSE_FILE=docker-compose.yml
# Which additionnal compose files you want to use
COMPOSE_FILE=${COMPOSE_FILE}:docker-compose.postgres.yml # comment if you want to use an external database
COMPOSE_FILE=${COMPOSE_FILE}:docker-compose.traefik.yml
# COMPOSE_FILE=${COMPOSE_FILE}:docker-compose.traefik-https.yml # requires docker-compose.traefik.yml
# COMPOSE_FILE=${COMPOSE_FILE}:docker-compose.dev.yml
# COMPOSE_FILE=${COMPOSE_FILE}:docker-compose.override.yml
COMPOSE_PROFILES="usershub" # comment to disable UsersHub

############
### Base ###
############

BASE_HOST="localhost"
POSTGRES_PASSWORD="geonatpasswd" # /!\ must be correctly set on first run!

DOCKER_UID=1000 # Change with the value returned by the command `id -u`. Comment if you are using rootless docker.
DOCKER_GID=1000 # Change with the value returned by the command `id -g`. Comment if you are using rootless docker.

### geonature-install-db ###

GEONATURE_DB_LOCAL_SRID=2154 # /!\ must be correctly set on first run!
GEONATURE_DB_ADD_SAMPLE_DATA=false
GEONATURE_DB_INSTALL_BDC_STATUTS=false
GEONATURE_DB_INSTALL_SIG_LAYERS=false
GEONATURE_DB_INSTALL_GRID_LAYER=false
GEONATURE_DB_INSTALL_REF_SENSITIVITY=true
GEONATURE_DB_INSTALL_USERSHUB_SAMPLES=true
GEONATURE_DB_INSTALL_TAXHUB_SAMPLES=true

GEONATURE_SUPERGRANT_ARGS="--group --nom Grp_admin" # comment this line to disable supergrant

### prefixes ###

GEONATURE_FRONTEND_PREFIX=/
GEONATURE_BACKEND_PREFIX=/api
USERSHUB_PREFIX=/usershub

### docker images

# Replace latest with the version you want to use to avoid unattended upgrade!
# GEONATURE_BACKEND_IMAGE="ghcr.io/pnx-si/geonature-backend-extra:latest"
# GEONATURE_FRONTEND_IMAGE="ghcr.io/pnx-si/geonature-frontend-extra:latest"
# USERSHUB_IMAGE="ghcr.io/pnx-si/usershub:latest"
# Note: docker-compose.dev.yml add -dev to images tags. Define GEONATURE_..._DEV_IMAGE if you want to avoid this.

##############
### TRAEFIK ###
##############

# Uncomment if you are using docker-compose.traefik.yml

# Uncomment, but leave empty if you want to use port 80
TRAEFIK_HTTP_PORT=

#####################
### TRAEFIK HTTPS ###
#####################

# Uncomment if you are using docker-compose.traefik-https.yml

# Uncomment, but leave empty if you want to use port 443
# TRAEFIK_HTTPS_PORT=

# ACME_EMAIL="webmaster@example.org" # required for valid https certificates

#######################
### computed values ###
#######################

# Variables below are computed from parameters above. You usually don’t need to change them directly.

BASE_PROTOCOL="http${TRAEFIK_HTTPS_PORT+s}"

# Use HTTPS port if defined (even if empty); otherwise use HTTP port if defined (even if empty); otherwise use specific dedicated port.
GEONATURE_BACKEND_PORT=${TRAEFIK_HTTPS_PORT-${TRAEFIK_HTTP_PORT-8000}}
GEONATURE_FRONTEND_PORT=${TRAEFIK_HTTPS_PORT-${TRAEFIK_HTTP_PORT-4200}}
USERSHUB_PORT=${TRAEFIK_HTTPS_PORT-${TRAEFIK_HTTP_PORT-5001}}

GEONATURE_BACKEND_HOST=${GEONATURE_BACKEND_HOST:-${BASE_HOST:-localhost}}
GEONATURE_FRONTEND_HOST=${GEONATURE_FRONTEND_HOST:-${BASE_HOST:-localhost}}
USERSHUB_HOST=${USERSHUB_HOST:-${BASE_HOST:-localhost}}

GEONATURE_API_ENDPOINT="${GEONATURE_API_ENDPOINT:-${BASE_PROTOCOL}://${GEONATURE_BACKEND_HOST}${GEONATURE_BACKEND_PORT:+:}${GEONATURE_BACKEND_PORT:-}${GEONATURE_BACKEND_PREFIX:-}}"
GEONATURE_URL_APPLICATION="${GEONATURE_URL_APPLICATION:-${BASE_PROTOCOL}://${GEONATURE_FRONTEND_HOST}${GEONATURE_FRONTEND_PORT:+:}${GEONATURE_FRONTEND_PORT:-}${GEONATURE_FRONTEND_PREFIX:-}}"
USERSHUB_URL_APPLICATION="${USERSHUB_URL_APPLICATION:-${BASE_PROTOCOL}://${USERSHUB_HOST}${USERSHUB_PORT:+:}${USERSHUB_PORT:-}${USERSHUB_PREFIX:-}}"
