[submodule "GeoNature"]
	path = sources/GeoNature
	url = git@github.com:PnX-SI/GeoNature.git
	branch = develop
[submodule "UsersHub"]
	path = sources/UsersHub
	url = git@github.com:PnX-SI/UsersHub.git
[submodule "gn_module_export"]
	path = sources/gn_module_export
	url = git@github.com:PnX-SI/gn_module_export.git
[submodule "gn_module_dashboard"]
	path = sources/gn_module_dashboard
	url = git@github.com:PnX-SI/gn_module_dashboard.git
[submodule "gn_module_monitoring"]
	path = sources/gn_module_monitoring
	url = git@github.com:PnX-SI/gn_module_monitoring.git
